 <!-- header Start
         ================================================= -->
        
        <section id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-left">
							<nav class="navbar navbar-default" role="navigation">
							  <div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
								  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								  </button>
								  <div class="nav-logo">
									<a href="mycontacts.html"><img src="img/logo.png" alt="logo"></a>
								  </div>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								  <ul class="nav navbar-nav">
									<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
									<li><a href="#">Features</a></li>
									<li><a href="#">Screenshot</a></li>
									<li><a href="#">Gallery</a></li>
								  </ul>
								</div><!-- /.navbar-collapse --> 
							  </div><!-- /.container-fluid -->
							</nav>
                        </div>
                    </div><!-- .col-md-6 -->

                    <div class="col-md-6">
                        <div class="block-right">
                            <div class="contact-area">
                                <ul>
                                    <li><i class="fa fa-phone-square"></i>800-123-456</li>
                                    <li><i class="fa fa-envelope-o"></i>info@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #heder close -->

        <!-- Slider Start
        ============================================================== -->

        <section id="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="slider-text-area">
                                <div class="slider-text">
                                    <h2>Take Control of Your Contacts <br></h2> 
                                    <p class="sub-slider-text"style="font-weight: 3000px" >CONSTANT CONTACT</p>
                                    <p class="slider-p">With the right app, you can spend less time looking for <br>your contacts and more time actually connecting with them. <br>
                                    Login to your account to continue</p>
                                  
                                    

                                    <button type="button" class="btn btn-default edit-button-1"><a href="#/register" style="color: #FFF">REGISTER NOW</a></button>
                                    <button  type="button" class="btn btn-default edit-button-1"><a href="#/login" style="color: #FFF">LOGIN</a></button>
                              
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #slider close -->

     
        <!-- Contant-2 Start
        =============================================================== -->

        <section id="contant-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-left">
                            <div class="contant-2-img">
                                <img src="img/mobile-phon-3.png" alt="img">
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->

                    <div class="col-md-6">
                        <div class="block-right">
                            <div class="contant-2-text-area">
                                <div class="contant-2-header">
                                    <h1>Onec ultrices ultricies tellus<br> perfect screens here</h2>
                                </div>
                                <div class="contant-2-text">
                                   <h2>Duis bibendum diam non <br> erat facilisis tincidunt.</h3>
                                   <p>Duis bibendum diam non erat facilaisis tincidunt. Fusce leo neque, lacinia at tempor vitae, porta at arcu. Vestibulum varius non dui at pulvinar. Ut egestas orci in quam sollicitudin aliquet. </p>
                                   <button type="button" class="btn btn-default edit-button-3">LEARN MORE</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #contant-2 close -->


        <div class="main-gallery">
              <div class="gallery-cell">
                <div class="testimonial">
                    <img class="testimonial-avatar" src="img/pepole-img2.png">
                  <q class="testimonial-quote">" I can not do without this app. Thanks you for the great work!" </q>
                  <span class="testimonial-author"> Mohamed Nourdine, CEO of NourSoft</span>
                </div>
              </div>
              <div class="gallery-cell">
                 <div class="testimonial">
                    <img class="testimonial-avatar" src="img/pepole-img3.png">
                  <q class="testimonial-quote">" It has never been easier to manage my contact before like it is with this app. I recommend it to everyone. Thank you guys and lot of courage."</q>
                  <span class="testimonial-author">Şafak Kızkın, Freelance Web Developer</span>
                </div>
              </div>
              <div class="gallery-cell">
                    <div class="testimonial">
                    <img class="testimonial-avatar" src="img/pepole-img.png">
                  <q class="testimonial-quote">" It’s official – I love this app, I couldn’t be without it now."</q>
                 <span class="testimonial-author">Ryan Waltz, Front-End Developer</span>
                </div>
              </div>
        </div>




        <!-- Submit Start
        ======================================================== -->

        <section id="submit-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="submit-contant">
                                <div class="submit-header">
									<i class="fa fa-envelope-o"></i>
                                    <h3>Subscribe our Newsletter</h3>                                   
                                </div>
								<div class="submit-area">
									<div class="submit-bottom">
										<form action="">
											<input type="text" placeholder="your email address">
											<input type="submit" value="submit">
										</form>
									</div>
								</div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #submit close -->

<!--   Angular View -->
                    <!--  <div ng-view></div> -->
                    <!--  Angular View -->
        <!-- footer Start
        ====================================================================== -->

        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="footer-contant">
                                <h3>Say Hi, Get In Touch</h3>
                                <div class="social-icon">
                                    <a href="#/"><i class="fa fa-facebook"></i></a>
                                    <a href="#/"><i class="fa fa-tumblr"></i></a>
                                    <a href="#/"><i class="fa fa-google"></i></a>
                                    <a href="#/"><i class="fa fa-flickr"></i></a>
                                    <a href="#/"><i class="fa fa-youtube"></i></a>
                                </div>
                                <div class="support-link">
                                    <ul>
                                        <li><a href="#/">Contact</a></li>
                                        <li><a href="#/">Twitter</a></li>
                                        <li><a href="#/">Developers</a></li>
                                        <li><a href="#/">Privacy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-md-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </section><!-- #footer -->