
        <section id="header" ng-controller="logoutController">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-left">
							<nav class="navbar navbar-default" role="navigation">
							  <div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
								  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								  </button>
							
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								  <ul class="nav navbar-nav">
									<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
									<li><a href="#">Features</a></li>
									<li><a href="#">Screenshot</a></li>
									<li><a href="#">Gallery</a></li>
								  </ul>
								</div><!-- /.navbar-collapse --> 
							  </div><!-- /.container-fluid -->
							</nav>
                        </div>
                    </div><!-- .col-md-6 -->

                    <div class="col-md-6">
                        <div class="block-right">
                            <div class="contact-area">
                                <ul>
                                    <li><i class="fa fa-phone-square"></i>800-123-456</li>
                                    <li><i class="fa fa-envelope-o"></i>info@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #heder close -->




<nav class="main-menu" ng-controller="logoutController">
     
     <div>
        <a class="logo" href="#/home">
        </a> 
      </div> 
<div class="settings"></div>
<div class="scrollbar" id="style-1">
                  
            <ul>
              
            <li>                                   
               <a >
                <i class="fa fa-home fa-lg"></i>
                <span class="nav-text">Home</span>
                </a>
            </li>   
               
            

                
            <li>                                 
            <a >
            <i class="fa fa-envelope-o fa-lg"></i>
            <span class="nav-text">Contact</span>
            </a>
            </li>   
              
            <li>                                 
            <a >
            <i class="fa fa-heart-o fa-lg"></i>
            <span class="nav-text">Share</span>
            </a>
            </li>   
              

             
            <li>
                               
          <!--  <span class="share"> 


            <div class="addthis_default_style addthis_32x32_style">
              
             <div style="position:absolute;
            margin-left: 56px;top:3px;"> 
               
              

              
             <a  class="share-popup"><img src="http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png" width="30px" height="30px"></a>

               <a  class="share-popup"><img src="https://cdn1.iconfinder.com/data/icons/metro-ui-dock-icon-set--icons-by-dakirby/512/Twitter_alt.png" width="30px" height="30px"></a>

               


            <a><img src="http://icons.iconarchive.com/icons/danleech/simple/512/google-plus-icon.png" width="30px" height="30px"></a>   
              
              
              
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ff17589278d8b3a"></script>
                                   
                                        
                                          
                                        
                                      
                                    </span>
                                    <span class="twitter"></span>
                                    <span class="google"></span>
                                    <span class="fb-like">  
            <iframe src="#" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe>
                                   
                                    </span>
            <span class="nav-text">
            </span>
                                    
                                </a> -->

            
            <li class="darkerlishadow">
               
                <i class="fa fa-clock-o fa-lg"></i>
                <span class="nav-text">News</span>
               
            </li>
              
            <li class="darkerli">
               
                <i class="fa fa-desktop fa-lg"></i>
                <span class="nav-text">Technology</span>
              
            </li>
              
            
           
              
            <li class="darkerli">
               
                <i class="fa fa-gamepad fa-lg"></i>
                <span class="nav-text">Games</span>
               
            </li>
              
            <li class="darkerli">
               
                <i class="fa fa-glass fa-lg"></i>
                <span class="nav-text">Life & Style
                </span>
               
            </li>
              
            <li class="darkerlishadowdown">
                
                <i class="fa fa-rocket fa-lg"></i>
                <span class="nav-text">Fun</span>
              
            </li>
             
              <li>                                               
                 <a >
                <i class="fa fa-question-circle fa-lg"></i>
                <span class="nav-text">Help</span>
               </a>
              </li> 
              
            </ul>

          
            <ul class="logout">
                 <li>   
                  <a ng-click='logout()'>                                            
                    <i class="fa fa-user fa-lg"></i>
                    <span class="nav-text">Login</span>
                    </a>
                </li> 
            </ul>
</nav>


<div class="container">

    <div class="jumbotron" style="background: lightblue; margin: 25px 0">
      <h1>Conctact List APP</h1>
      <p>This is a RESTful API Contact List Application build using the MEAN Stact:</p>
      <ul>
        <li>MongoDB</li>
        <li>Express</li>
        <li>AngularJS</li>
        <li>NodeJS</li>
      </ul>
      
    </div>

    <table class="table">
      <h2>Add a New Contact</h2>
      <tbody>
        <tr>
          <td><input class="form-control" ng-model="contact.name"></td>
          <td><input class="form-control" ng-model="contact.email"></td>
          <td><input class="form-control" ng-model="contact.number"></td>
          <td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button></td>
           <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        
        </tr> 
      </tbody>
    </table>
    
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>          
          <th>Number</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr> 
      </thead>
      <tbody>
          
        <tr ng-repeat="contact in contactlist">
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.number}}</td>
          <td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>

